/* this defines the helper grid */
.gridlines {
  /* change these as you need */
  --grid-size:50px;
  --grid-color:#113229;
}

/* anything else you want to do 👇🏻 */

h1 {
  color: #C6E7EC;
  font-size: 40pt;
  font-family: avenir;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  line-height:1.2;
/*  background-image: url(wave.png/interactive-2);
  -webkit-background-clip:text;
  animation: water 15s infinite;*/
}


h1 :hover { color: #0F182E; text-decoration: none}


h2 {
	color:#C6ECD1;
	font-family: avenir;
  font-size: 17pt;
}


 #author{
    color:#9CDECD;
    font-family: avenir;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 80px;
    font-size: 11pt;
    line-height: .85;}

     #role{
    color:#9CDECD;
    font-family: avenir;
    margin-left: 0px;
    margin-right: 60px;
    margin-top: -3px;
    font-size: 9pt;
    line-height: .85;}

h3 {
  color:#3CB496;
  font-family: avenir;
}

p{
	color: #287577;
line-height: 1.2em;
	font-family: baskerville;
  font-size: 9.5pt;
  margin-top: 0;
}

#number{
    font-family: avenir;
  margin-left:150px;
  margin-top: 0px;
}

#pageTwo .columner {
  column-count: 2;
}