/* this defines the helper grid */
.gridlines {
  /* change these as you need */
  --grid-size:50px;
  --grid-color:#113229;
}

/* anything else you want to do 👇🏻 */

h1 {
  color: #0F182E;
  font-size: 40pt;
  font-family: avenir;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  line-height:1.2;
/*  background-image: url(wave.png/interactive-2);
  -webkit-background-clip:text;
  animation: water 15s infinite;*/
}


h1 :hover { color: #C6E7EC; text-decoration: none}

h1 {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}



h2 {
	color:#0F182E;
	font-family: avenir;
  font-size: 17pt;
}


 #author{
    color:#9CDECD;
    font-family: avenir;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 80px;
    font-size: 11pt;
    line-height: .85;}

     #role{
    color:#9CDECD;
    font-family: avenir;
    margin-left: 0px;
    margin-right: 60px;
    margin-top: -3px;
    font-size: 9pt;
    line-height: .85;}

h3 {
  color:#3CB496;
  font-family: avenir;
}

p{
	color: #287577;
line-height: 1.2em;
	font-family: baskerville;
  font-size: 9.5pt;
  margin-top: 0;
}



#pageTwo .columner {
  column-count: 2;
}