

body {
  background: black;  
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 50px;
  font-family: OCR A std;
  font-weight: lighter;
  color: #E6F0FF;
  min-height: 100vh;
  cursor: url(https://cdn.glitch.com/57743f0a-6f57-46ba-a8fd-f0962e3e2783%2Frocket.png?v=1572543150792), auto;
}

#time{
  position: absolute;
  top: 450px;
  left: 350px;
}



#stars{
  position: absolute;
  top: 0px;
  left: -20px;
}

#morestars{
  position: absolute;
  top: 150px;
  left: 200px
}

#evenmorestars{
  position: absolute;
  top: 50px;
  left: 100px;
}

.shape-1{
    width: 5px;
    height: 5px;
    background: white;
    position: absolute;
    left: 500px;
    top: 300px;
    animation: shape-1 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 3.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px #535FED;
  }
}

@keyframes shape-1{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-2{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 200px;
    top: 30px;
    animation: shape-2 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px #535FED;
    opacity: .5;
  }
}

@keyframes shape-2{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-3{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 150px;
    top: 200px;
    animation: shape-3 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 9s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-3{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-4{
    width: 4px;
    height: 4px;
    background: white;
    position:absolute;
    left: 800px;
    top: 650px;
    animation: shape-4 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 2s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-4{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-5{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 200px;
    top: 450px;
    animation: shape-5 10s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 2.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-5{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-6{
    width: 6px;
    height: 6px;
    background: white;
    position:absolute;
    left: 900px;
    top: 450px;
    animation: shape-5 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 4px 4px #747DE8;
  animation: glow 3.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-5{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-7{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 1000px;
    top: 60px;
    animation: shape-5 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 8s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-5{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-8{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 800px;
    top: 60px;
    animation: shape-8 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-8{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-9{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 1200px;
    top: 400px;
    animation: shape-9 2s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 15s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-9{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-10{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 100px;
    top: 700px;
    animation: shape-10 15s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 15s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px white;
    opacity: .5;
  }
}

@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-11{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 1100px;
    top: 700px;
    animation: shape-10 10s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}



@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-12{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 550px;
    top: 780px;
    animation: shape-10 5s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}


@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-13{
    width: 5px;
    height: 5px;
    background: white;
    position:absolute;
    left: 600px;
    top: 500px;
    animation: shape-10 10s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}


@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-14{
    width: 4px;
    height: 4px;
    background: white;
    position:absolute;
    left: 250px;
    top: 100px;
    animation: shape-10 7s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}

@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-15{
    width: 3px;
    height: 3px;
    background: white;
    position:absolute;
    left: 15px;
    top: 500px;
    animation: shape-10 6s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}


@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-16{
    width: 3px;
    height: 3px;
    background: white;
    position:absolute;
    left: 1200px;
    top: 230px;
    animation: shape-10 11s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}


@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}


.shape-17{
    width: 3px;
    height: 3px;
    background: white;
    position:absolute;
    left: 700px;
    top: 250px;
    animation: shape-10 5s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}


@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}

.shape-18{
    width: 3px;
    height: 3px;
    background: white;
    position:absolute;
    left: 500px;
    top: 150px;
    animation: shape-10 8s alternate infinite;
    opacity:1;
    border-radius: 100px;
/*  filter: blur(10px);*/
}


@keyframes shape-10{
  0% {opacity: 0;}
  50% {opacity:1;}
  100% {opacity:1;}
}




.aFiveMinute {
  background: white;
}
