* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	font-weight: normal;
	background: #E0B4A3;
	background: linear-gradient(-45deg, #D59681, #D08B71, #E0B4A3, #E0B4A3);
	background-size: 400% 400%;
	animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* this is a comment */

#container {
	width:500px;
	margin: 0 auto;
	margin-top: 100px;
	margin-right: 810px;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#exercises, #projects {
	margin: 40px 0px;
}

h1 {
	color:red;
	font-family: raleway;
	font-size: 50px;
	color: #B4403C;
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h2{
	font-family: raleway;
	font-size: 20pt;
	margin: 20px 0;
	color: #B4403C;
}

h3{
	font-family:raleway;
	font-size: 20pt;
	margin: 20px 0;
	color: #B4403C;
}
/*h1, h2, h3 {
	margin: 20px 0;
    font-size:20pt;
} */

p {
	margin: 0 auto;
	margin-top: 60px;
	font-size:14pt;
	line-height: 150%;
	font-family: raleway;
	color: #502C1B;
}

ul {
	list-style-type: none;
	margin-top: 20px;
	line-height:1.5;
	font-family: raleway;
}

a {
	color: #502C1B;
}

a:hover {
	color: #B4403C;
}